.bx-ss-icon.strava {
    width: 16px;
    height: 16px;
    background: url('/local/assets/images/openurbantech.strava/strava.png') no-repeat 0 0;
    display: inline-block;
}

.bx-system-auth-form .bx-ss-icon.strava {
    width: 40px;
    height: 40px;
    background: url(/local/assets/images/auth/strava.svg) no-repeat center center;
    background-size: cover;
    display: inline-block;
}

.strava-button {
	width: 186px;
    height: 42px;
    background: url(/local/modules/openurbantech.strava/assets/btn_strava_connectwith_orange.png) no-repeat center center;
    display: inline-block;
}
.strava-button span {
	display: none;
}

